body {
	background-color: #008000;
}

h1, h3 {
	color: #000;
}

h4 {
	color: #FFF;
}

.card {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 150px;
	height: 220px;
	border-radius: 10px;
	background: #FFF;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.suitdiamonds, .suithearts {
	color: red;
}

.suitspades, .suitclubs {
	color: #000;
}

.top-left {
	margin-left: -115px;
	font-size: 20px;
}

.bottom-right {
	font-size: 20px;
	margin-left: 113px;
	margin-top: -62px;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.suitclubs:before, .suitclubs:after {
	content: "♣";
}

.suithearts:before, .suithearts:after {
	content: "♥";
}

.suitspades:before, .suitspades:after {
	content: "♠";
}

.suitdiamonds:before, .suitdiamonds:after {
	content: "♦";
}

.new-hand {
	position: absolute;
	margin-left: -59px;
}

.rotate {
	transform: rotate(180deg);
}

.ace {
	font-size: 75px;
	margin-top: -24px;
}

.two {
	margin-top: -95px;
	padding-bottom: 17px;
	font-size: 50px;
}

.two-top {
	margin-top: -19px;
	font-size: 50px;
}

.three {
	font-size: 50px;
	margin-top: -56px;
}

.three-middle {
	font-size: 50px;
	margin-top: -81px;
}

.three-bottom {
	font-size: 50px;
	margin-top: -80px;
	margin-bottom: 31px;
}

.four-five-size {
	font-size: 50px;
}

.four-five-top {
	margin-top: -65px;
}

.four-five-left {
	margin-left: 40px;
}

.four-five-right {
	margin-right: 35px;
}

.four-bottom-left {
	margin-left: 70px;
}

.four-five-bottom {
	margin-bottom: -92px;
}

.four-five-middle {
	margin-top: -70px;
}

div[class*='suit']:before {
	position: absolute;
	font-size: 30px;
	left: 9px;
	top: 11px;
}

div[class*='suit']:after {
	position: absolute;
	font-size: 30px;
	right: 9px;
	bottom: 11px;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
