body {
	background-color: #008000;
}

h1, h3 {
	color: #000;
}

h4 {
	color: #FFF;
}

.card {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 150px;
	height: 220px;
	border-radius: 10px;
	background: #FFF;
	-webkit-box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 7px rgba(0,0,0,0.3);
}

.suitdiamonds, .suithearts {
	color: #c90000;
}

.suitspades, .suitclubs {
	color: #000;
}

.top-left {
	margin-left: -125px;
	font-size: 20px;
}

.bottom-right {
	font-size: 20px;
	margin-left: 122px;
	margin-top: 145px;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.new-hand {
	position: absolute;
	margin-left: -59px;
}

.rotate {
	transform: rotate(180deg);
}

.ace-suithearts {
	background-image: url('../images/h1.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ace-suitspades {
	background-image: url('../images/s1.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ace-suitdiamonds {
	background-image: url('../images/d1.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ace-suitclubs {
	background-image: url('../images/c1.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.two-suithearts {
	background-image: url('../images/h2.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.two-suitspades {
	background-image: url('../images/s2.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.two-suitdiamonds {
	background-image: url('../images/d2.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.two-suitclubs {
	background-image: url('../images/c2.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.three-suithearts {
	background-image: url('../images/h3.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.three-suitspades {
	background-image: url('../images/s3.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.three-suitdiamonds {
	background-image: url('../images/d3.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.three-suitclubs {
	background-image: url('../images/c3.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.four-suithearts {
	background-image: url('../images/h4.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.four-suitspades {
	background-image: url('../images/s4.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.four-suitdiamonds {
	background-image: url('../images/d4.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.four-suitclubs {
	background-image: url('../images/c4.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.five-suithearts {
	background-image: url('../images/h5.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.five-suitspades {
	background-image: url('../images/s5.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.five-suitdiamonds {
	background-image: url('../images/d5.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.five-suitclubs {
	background-image: url('../images/c5.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.six-suithearts {
	background-image: url('../images/h6.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.six-suitspades {
	background-image: url('../images/s6.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.six-suitdiamonds {
	background-image: url('../images/d6.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.six-suitclubs {
	background-image: url('../images/c6.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.seven-suithearts {
	background-image: url('../images/h7.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.seven-suitspades {
	background-image: url('../images/s7.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.seven-suitdiamonds {
	background-image: url('../images/d7.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.seven-suitclubs {
	background-image: url('../images/c7.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.eight-suithearts {
	background-image: url('../images/h8.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.eight-suitspades {
	background-image: url('../images/s8.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.eight-suitdiamonds {
	background-image: url('../images/d8.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.eight-suitclubs {
	background-image: url('../images/c8.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.nine-suithearts {
	background-image: url('../images/h9.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.nine-suitspades {
	background-image: url('../images/s9.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.nine-suitdiamonds {
	background-image: url('../images/d9.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.nine-suitclubs {
	background-image: url('../images/c9.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ten-suithearts {
	background-image: url('../images/h10.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ten-suitspades {
	background-image: url('../images/s10.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ten-suitdiamonds {
	background-image: url('../images/d10.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.ten-suitclubs {
	background-image: url('../images/c10.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.jack-suithearts {
	background-image: url('../images/h11.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.jack-suitspades {
	background-image: url('../images/s11.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.jack-suitdiamonds {
	background-image: url('../images/d11.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.jack-suitclubs {
	background-image: url('../images/c11.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.queen-suithearts {
	background-image: url('../images/h12.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.queen-suitspades {
	background-image: url('../images/s12.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.queen-suitdiamonds {
	background-image: url('../images/d12.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.queen-suitclubs {
	background-image: url('../images/c12.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.king-suithearts {
	background-image: url('../images/h13.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.king-suitspades {
	background-image: url('../images/s13.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.king-suitdiamonds {
	background-image: url('../images/d13.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

.king-suitclubs {
	background-image: url('../images/c13.svg');
	background-repeat: no-repeat;
	background-size: 150px 220px;
}

div[class*='suit']:before {
	position: absolute;
	font-size: 30px;
	left: 9px;
	top: 11px;
}

div[class*='suit']:after {
	position: absolute;
	font-size: 30px;
	right: 9px;
	bottom: 11px;
	-ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
